
/* ********General Settings****** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    height: 80px;
    background-color:black;
}

.flex{
    display: flex;
    
}

.alignCenter{
align-items: center;
margin: 6px;
}

.flexColumn{
    flex-direction: column;
}

.flexWrap{
    flex-wrap: wrap;
}

.flexEnd{
    justify-content: flex-end
}

.jcSpaceBtw{
    justify-content: space-between;
}

/* ********Header******* */

.topIcon{
    align-items: center;
    height: 30px;
    background-color: lightslategrey;
    padding: 10px;
    margin: 5px;
    border-radius: 5%;
}

/* ****main*** */


.boxed{
    width: 1400px;
    margin: 0 auto;
}

.card{
    width: calc( 100% / 7 - 0.5em );
    
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    position: relative;

}

img{
    display: block;
    width: 100%
    
}

.mic{
    position: absolute;
    bottom: 0%;
    background-color: #251c1c4d;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

/* ******Footer***** */

footer{
    height: 80px;
    background-color: #222222;
    font-size: 20px
}

.iconBottom{  
    padding: 10px;
    margin: 5px;
}


.endMeeting{
    color: red;
}

.alignItems{
    align-items: center;
}

.iconBottom.Right{
    background-color:#282b2b;
}