
/* ********General Settings****** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}


body{
    background-color: black;
}

.flex{
    display: flex;    
}


.flexColumn{
    flex-direction: column;
}

.flexWrap{
    flex-wrap: wrap;
}

.flexEnd{
    justify-content: flex-end
}

.jcSpaceBtw{
    justify-content: space-between;
}

.alignCenter{
    align-items: center;
}

/* ********Header******* */

header{
    height: 80px;
    background-color:black;
}

.topIcon{
    align-items: center;
    background-color: lightslategrey;
    padding: 10px;
    margin: 5px;
    border-radius: 8%;
    height: 35%;
}

/* ****main*** */

main{
    height: calc( 100vh - 160px );
}

.mainContainer{
    margin: 0 50px;
}


.card{
    width: calc( 100% / 7 - 4px );
    height: 100%;
    margin-left: 2px;
    margin-right: 2px;
    position: relative;
}

.user{
    position: absolute;
    bottom: 0%;
    background-color: #251c1c4d;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

img{
    display: block;
    height: 100%;
    width: 100%;
}

/* ******Footer***** */

footer{
    height: 80px;
    background-color: #222222;
    font-size: 20px;
    width: 100vw;
    position: fixed;
}

.iconBottom{  
    padding: 10px;
    margin: 5px;
}


.endMeeting{
    color: red;
}


.iconBottom.Right{
    background-color:#282b2b;
    margin-right: 20px;
}

.iconBottom > div > span{
    padding-top: 5px ;
}

.fontIcon{
    font-size: 15px;
}

.iconBottom > div{
    margin: 0px 5px;
}

.fa-share-from-square{
    color: rgb(12, 196, 12);
}

